<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Tabla colores</h1>
    
    <form method="post" action="/procesar">
        <label for="alto">Alto:</label>
        <input type="text" name="alto" id="alto" value="<%= m %>"><br><br>

        <label for="ancho">Ancho:</label>
        <input type="text" name="ancho" id="ancho" value="<%= n %>"><br><br>

        <input type="submit" value="generar">
    </form>

    <table border="1">
        <% for (let i = 0; i < m; i++) { %>
            <tr>
            <% for (let j = 0; j < n; j++) { %>
                <td style="background-color: <%= getColor(i,j) %>; ">x</td>
            <% } %>
            </tr>
        <% } %>
    </table>
</body>
</html>
